.trending {
  &-wrap {
    margin-bottom: 40px;
  }

  &-title {
    margin-bottom: 25px;
  }
}

.recommended {
  &-title {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 768px) {
  .trending {
    &-title {
      font-size: 20px;
    }
  }
}
