@font-face {
  font-family: 'Outfit-Light';
  src: url('../fonts/Outfit-Light.eot');
  src: url('../fonts/Outfit-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Outfit-Light.woff2') format('woff2'),
  url('../fonts/Outfit-Light.woff') format('woff'),
  url('../fonts/Outfit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit-Medium';
  src: url('../fonts/Outfit-Medium.eot');
  src: url('../fonts/Outfit-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Outfit-Medium.woff2') format('woff2'),
  url('../fonts/Outfit-Medium.woff') format('woff'),
  url('../fonts/Outfit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

