.input {
  width: 100%;
  padding: 0 16px 17px 16px;
  border-bottom: 1px solid $border-color;

  &-wrapper {
    position: relative;
  }

  &::placeholder {
    font-family: "Outfit-Light", sans-serif;
    font-size: 15px;
    line-height: 19px;
    opacity: 0.5;
    color: $text;
  }

  &:focus {
    border-color: $text;
    caret-color: $logo-color;
  }

  &.error {
    border-color: $logo-color;
  }

  &-errors {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    font-size: 13px;
    color: $logo-color;
  }
}
